<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Default Serif</string>
	<key>ThemeIdentifier</key>
	<string>me.mikeschreiber.nnwthemes.default-serif</string>
	<key>CreatorHomePage</key>
	<string>https://mikeschreiber.me/</string>
	<key>CreatorName</key>
	<string>Mike Schreiber</string>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
